.DS_Store
.idea
out
target

## --------------------^^alg-home^^--------------------- ##
alg-home/.idea
alg-home/out
alg-home/target

alg-home/.DS_Store
alg-home/src/.DS_Store
alg-home/src/main/.DS_Store
alg-home/src/main/java/.DS_Store
alg-home/src/main/java/com/.DS_Store

## --------------------^^plugin^^------------------------ ##
plugin/.idea
plugin/out
plugin/target

plugin/.DS_Store
plugin/src/.DS_Store
plugin/src/main/.DS_Store
plugin/src/main/java/.DS_Store
plugin/src/main/java/com/.DS_Store

## --------------------^^practice^^----------------------- ##
practice/.idea
practice/out
practice/target

practice/.DS_Store
practice/src/.DS_Store
practice/src/main/.DS_Store
practice/src/main/java/.DS_Store
practice/src/main/java/com/.DS_Store

## --------------------^^practice.fabric-chaincode^^------- ##
practice/fabric-chaincode/.idea
practice/fabric-chaincode/out
practice/fabric-chaincode/target

practice/fabric-chaincode/.DS_Store
practice/fabric-chaincode/src/.DS_Store
practice/fabric-chaincode/src/main/.DS_Store
practice/fabric-chaincode/src/main/java/.DS_Store
practice/fabric-chaincode/src/main/java/com/.DS_Store

## --------------------^^practice.java-base^^-------------- ##
practice/java-base/.idea
practice/java-base/out
practice/java-base/target

practice/java-base/.DS_Store
practice/java-base/src/.DS_Store
practice/java-base/src/main/.DS_Store
practice/java-base/src/main/java/.DS_Store
practice/java-base/src/main/java/com/.DS_Store

## --------------------^^integration^^---------------------- ##
integration/.idea
integration/out
integration/target

integration/.DS_Store
integration/src/.DS_Store
integration/src/main/.DS_Store
integration/src/main/java/.DS_Store
integration/src/main/java/com/.DS_Store

## --------------------^^plugin.fabric-sdk^^---------------- ##
plugin/fabric-sdk/.idea
plugin/fabric-sdk/out
plugin/fabric-sdk/target

plugin/fabric-sdk/.DS_Store
plugin/fabric-sdk/src/.DS_Store
plugin/fabric-sdk/src/main/.DS_Store
plugin/fabric-sdk/src/main/java/.DS_Store
plugin/fabric-sdk/src/main/java/com/.DS_Store

## --------------------^^plugin.fast-tree^^------------------ ##
plugin/fast-tree/.idea
plugin/fast-tree/out
plugin/fast-tree/target

plugin/fast-tree/.DS_Store
plugin/fast-tree/src/.DS_Store
plugin/fast-tree/src/main/.DS_Store
plugin/fast-tree/src/main/java/.DS_Store
plugin/fast-tree/src/main/java/com/.DS_Store